<form method="post" action="{{ path('film_osoba_delete', {'filmoviIdFilm': film_osoba.filmoviIdFilm}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film_osoba.filmoviIdFilm) }}">
    <button class="btn">Delete</button>
</form>
