{% extends 'base.html.twig' %}

{% block title %}Edit Zanr{% endblock %}

{% block body %}
    <h1>Edit Zanr</h1>

    {{ include('zanr/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('zanr_index') }}">back to list</a>

    {{ include('zanr/_delete_form.html.twig') }}
{% endblock %}
