{% extends 'base.html.twig' %}

{% block title %}New Zanr{% endblock %}

{% block body %}
    <h1>Create new Zanr</h1>

    {{ include('zanr/_form.html.twig') }}

    <a href="{{ path('zanr_index') }}">back to list</a>
{% endblock %}
