<form method="post" action="{{ path('projekcija_delete', {'idProjekcija': projekcija.idProjekcija}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projekcija.idProjekcija) }}">
    <button class="btn">Delete</button>
</form>
