<form method="post" action="{{ path('osoba_delete', {'idOsoba': osoba.idOsoba}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ osoba.idOsoba) }}">
    <button class="btn">Delete</button>
</form>
